@model EntityLayer.Concrete.Title

@{
    ViewBag.Title = "AddTitle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Başlık Ekleme</h2>
<br />
@using (Html.BeginForm("AddTitle", "Title", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Başlık adı")
        @Html.TextBoxFor(x => x.TitleName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.TitleName)
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x=>x.CategoryId,(List<SelectListItem>)ViewBag.vlc,new {@class="form-control"})
        <br />
        @Html.Label("Yazar")
        @Html.DropDownListFor(x=>x.SocialMediaUserId,(List<SelectListItem>)ViewBag.vls, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SocialMediaUserId)
        <br />

        <button class="btn btn-info">Başlık Ekle</button>
    </div>

}