@model EntityLayer.Concrete.Title
@{
    ViewBag.Title = "EditTitle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Başlık Güncelleme Sayfası</h2>
@using(Html.BeginForm("EditTitle","Title",FormMethod.Post))
  {

    <div class="form-group">
        <br />
        @Html.Label("Başlık ID")
        @Html.TextBoxFor(x => x.TitleId, new { @class = "form-control" })
        <br />
        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(x => x.TitleName, new { @class = "form-control" })
        <br />
        @Html.Label("Tarih")
        @Html.TextBoxFor(x=>x.TitleDate, new {@class="form-control" })
        <br />
        @Html.Label("Yazar Id")
        @Html.TextBoxFor(x=>x.SocialMediaUserId, new { @class = "form-control" })
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Güncelle</button>
    </div>
  }

